{{#imports}}
import { {{classname}} } from '../{{filename}}';
{{/imports}}

{{#operations}}
export class {{classname}} {

  private token: string;
  private basePath: string;

  constructor(token: string) {
    this.token = token;
    this.basePath = '{{{basePath}}}';
  }

{{#operation}}

  /**
   * {{&notes}}
   {{#summary}}
   * @summary {{&summary}}
   {{/summary}}
{{#allParams}}   * @param {{paramName}} {{description}}
{{/allParams}}
  */
  public {{nickname}}({{#allParams}}{{^isConstEnumParam}}{{paramName}}{{^required}}?{{/required}}: {{{dataType}}}, {{/isConstEnumParam}}{{/allParams}}):Promise<{{#returnType}}{{{returnType}}}{{#isResponseTypeFile}}|undefined{{/isResponseTypeFile}}{{/returnType}}{{^returnType}}any{{/returnType}}> {
    const url = `{{{path}}}`;    
    const options = {
      method: "{{httpMethod}}",
      headers: {
        "Content-Type": "application/json"
      }
    };

    return fetch(url, options).then((response) => {
      return response.json();
    });
  }

{{/operation}}
{{/operations}}
}