{{#apiInfo}}
{{#apis}}
{{#operations}}
export * from './{{ classFilename }}';
import { {{ classname }} } from './{{ classFilename }}';
{{/operations}}
{{#withInterfaces}}
export * from './{{ classFilename }}Interface'
{{/withInterfaces}}
{{/apis}}

import { AccessToken } from "../types";
import { API_URL } from 'react-native-dotenv';

export default new class Api {
  {{#apis}}{{#operations}}
  public get{{ classname }}(token: AccessToken): {{ classname }} {
    return new {{ classname }}(API_URL, token.access_token);
  }
  {{/operations}}{{/apis}}
}
{{/apiInfo}}